**/target
**/__pycache__
**.pyc
**/.gitignore
Dockerfile
*.Dockerfile
**/.env

services/asr/models
services/asr/testdata
services/asr/Rocket.toml


services/auth/keys
services/auth/generate_keys.py
services/auth/auth.db

services/biometric/training
services/biometric/config.toml
services/biometric/test_*.py

services/sds/audio
services/sds/training
services/sds/config.toml

services/stuck_detection/config.toml
services/stuck_detection/audio

services/transcript_analysis/config.toml
services/transcript_analysis/audio
