CG_URLS__TRANSCRIPT_ANALYSIS=http://transcript_analysis_service:8005
CG_URLS__SPEECH_SCORE=http://sds_service:8006/analyze-speech
CG_URLS__LLM__BASE=http://llm_service:8013/api/v1
CG_LLM_CONTINUE_URL=http://llm_service:8013/api/v1/generate-continuation-hint

CG_RABBITMQ__URL=amqp://appuser:apppass@rabbitmq
CG_RABBITMQ__connection_name=test

CG_FILE_STORE__TYPE=s3
CG_FILE_STORE__ENDPOINT=http://seaweedfs:8333
CG_FILE_STORE__BUCKET=cg-data
CG_FILE_STORE__ACCESS_KEY_ID=admin_access_key
CG_FILE_STORE__SECRET_ACCESS_KEY=admin_secret_key
