CG_URLS__TRANSCRIPT_ANALYSIS=http://gateway/api/internal/analyze_transcript
CG_URLS__SPEECH_SCORE=http://gateway/api/internal/speech_score
CG_URLS__LLM__BASE=http://gateway/api/internal/llm
CG_LLM_CONTINUE_URL=http://gateway/api/internal/llm/generate-continuation-hint

CG_RABBITMQ__URL=amqp://appuser:apppass@rabbitmq
CG_RABBITMQ__connection_name=test

CG_FILE_STORE__TYPE=s3
CG_FILE_STORE__ENDPOINT=http://seaweedfs:8333
CG_FILE_STORE__BUCKET=cg-data
CG_FILE_STORE__ACCESS_KEY_ID=admin_access_key
CG_FILE_STORE__SECRET_ACCESS_KEY=secret_access_key
